Importando bibliotecas e pacotes - Importing libraries and packages

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sn

Importando arquivo e lendo as 5 primeiras linhas

In [3]:
filename = 'adm_data.csv'
data = pd.read_csv(filename, index_col='Serial No.')
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
print(data.columns)

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [5]:
print(data.isna().sum())

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 1 to 400
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    int64
 7   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 28.1 KB
None

Coluna utilizada: GRE Score - exame que mede as habilidades consideradas importantes para o sucesso 
    em programas de pós-graduação: verbal, raciocínio, raciocínio quantitativo, pensamento crítico e redação analítica.

In [39]:
unique_GRE = np.unique(data['GRE Score'])
print(f'Valores únicos: ' + str(unique_GRE))
print(f'Quantidade de valores únicos: ' + str(np.count_nonzero(unique_GRE)))
print(f'Valor único Mínimo: ' + str(min(unique_GRE)))
print(f'Valor único Máximo: ' + str(max(unique_GRE)))
print(f'Média dos valores únicos: ' + str(unique_GRE.mean()))

Valores únicos: [290 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309
 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327
 328 329 330 331 332 333 334 335 336 337 338 339 340]
Quantidade de valores únicos: 49
Valor único Mínimo: 290
Valor único Máximo: 340
Média dos valores únicos: 315.9591836734694

Coluna utilizada: TOEFL Score - único teste que mede todas as quatro habilidades acadêmicas em inglês, 
    como ler, ouvir, falar e escrever, da maneira como elas são realmente usadas em sala de aula, 
    para que você possa ter certeza de que se destacará para as universidades onde é importante.

In [40]:
unique_TOEFL = np.unique(data['TOEFL Score'])
print(f'Valores únicos: ' + str(unique_TOEFL))
print(f'Quantidade de valores únicos: ' + str(np.count_nonzero(unique_TOEFL)))
print(f'Valor único Mínimo: ' + str(min(unique_TOEFL)))
print(f'Valor único Máximo: ' + str(max(unique_TOEFL)))
print(f'Média dos valores únicos: ' + str(unique_TOEFL.mean()))

Valores únicos: [ 92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109
 110 111 112 113 114 115 116 117 118 119 120]
Quantidade de valores únicos: 29
Valor único Mínimo: 92
Valor único Máximo: 120
Média dos valores únicos: 106.0

Coluna utilizada: University Rating - Avaliação da Universidade

In [55]:
unique_UR = np.unique(data['University Rating'])
print(f'Valores únicos: ' + str(unique_UR))
print(f'Quantidade de valores únicos: ' + str(np.count_nonzero(unique_UR)))
print(f'Valor único Mínimo: ' + str(min(unique_UR)))
print(f'Valor único Máximo: ' + str(max(unique_UR)))
print(f'Média dos valores únicos: ' + str(unique_UR.mean()))

Valores únicos: [1 2 3 4 5]
Quantidade de valores únicos: 5
Valor único Mínimo: 1
Valor único Máximo: 5
Média dos valores únicos: 3.0

Coluna utilizada: SOP - Statement of Purpose, em inglês, é declaração de pesquisa ou carta de intenção, 
    é escrita para o painel de admissão e fala sobre sua carreira, interesses, contribuições profissionais, 
    objetivos e a força motriz por trás de um determinado programa.

In [42]:
unique_SOP = np.unique(data['SOP'])
print(f'Valores únicos: ' + str(unique_SOP))
print(f'Quantidade de valores únicos: ' + str(np.count_nonzero(unique_SOP)))
print(f'Valor único Mínimo: ' + str(min(unique_SOP)))
print(f'Valor único Máximo: ' + str(max(unique_SOP)))
print(f'Média dos valores únicos: ' + str(unique_SOP.mean()))

Valores únicos: [1.  1.5 2.  2.5 3.  3.5 4.  4.5 5. ]
Quantidade de valores únicos: 9
Valor único Mínimo: 1.0
Valor único Máximo: 5.0
Média dos valores únicos: 3.0

Coluna utilizada: LOR - Letter of Recommendation, em inglês, é um formulário de recomendação desenvolvido com o objetivo de economizar um tempo valioso de recomendadores e ex-alunos, fornecendo um conjunto único e comum de perguntas.

Nota: a coluna 'LOR ' está no CSV com o espaço após as letras, o que me gerou muitos erros até descobrir isso

In [51]:
unique_LOR = np.unique(data['LOR '])
print(f'Valores únicos: ' + str(unique_LOR))
print(f'Quantidade de valores únicos: ' + str(np.count_nonzero(unique_LOR)))
print(f'Valor único Mínimo: ' + str(min(unique_LOR)))
print(f'Valor único Máximo: ' + str(max(unique_LOR)))
print(f'Média dos valores únicos: ' + str(unique_LOR.mean()))

Valores únicos: [1.  1.5 2.  2.5 3.  3.5 4.  4.5 5. ]
Quantidade de valores únicos: 9
Valor único Mínimo: 1.0
Valor único Máximo: 5.0
Média dos valores únicos: 3.0

Coluna utilizada: CGPA - Culmulative Grade Point Average, em inglês, é o seu desempenho acadêmico de 0.00 a 4.00, 
    calculado como uma média do seu GPA de todos os cursos/semestres concluídos. 
<br> Porém o autor desse dataset, explicou que se trata de Undergraduate GPA, ou seja, o CGPA desse dataset, corresponde ao Undergraduate GPA que é determinado somando todas as notas obtidas em todos os semestres, dividindo esse número pelo número total de pontos possíveis.

In [56]:
unique_CGPA = np.unique(data['CGPA'])
print(f'Valores únicos: ' + str(unique_CGPA))
print(f'Quantidade de valores únicos: ' + str(np.count_nonzero(unique_CGPA)))
print(f'Valor único Mínimo: ' + str(min(unique_CGPA)))
print(f'Valor único Máximo: ' + str(max(unique_CGPA)))
print(f'Média dos valores únicos: ' + str(unique_CGPA.mean()))

Valores únicos: [6.8  7.2  7.25 7.28 7.3  7.34 7.36 7.4  7.43 7.46 7.5  7.54 7.56 7.6
 7.64 7.65 7.66 7.67 7.68 7.7  7.8  7.84 7.86 7.87 7.88 7.89 7.9  7.92
 7.95 7.96 7.97 7.98 8.   8.01 8.02 8.03 8.04 8.06 8.07 8.09 8.1  8.12
 8.13 8.14 8.15 8.16 8.17 8.18 8.2  8.21 8.22 8.23 8.24 8.25 8.26 8.27
 8.28 8.3  8.32 8.33 8.34 8.36 8.37 8.4  8.42 8.43 8.44 8.45 8.46 8.47
 8.48 8.49 8.5  8.52 8.53 8.54 8.55 8.56 8.57 8.6  8.62 8.64 8.65 8.66
 8.67 8.68 8.69 8.7  8.71 8.72 8.73 8.74 8.75 8.76 8.77 8.78 8.79 8.8
 8.83 8.84 8.85 8.87 8.88 8.89 8.9  8.92 8.94 8.96 8.97 8.98 9.   9.01
 9.02 9.04 9.05 9.06 9.07 9.08 9.1  9.11 9.12 9.13 9.14 9.15 9.16 9.17
 9.18 9.19 9.2  9.22 9.23 9.24 9.26 9.28 9.3  9.31 9.32 9.34 9.35 9.36
 9.38 9.4  9.42 9.43 9.44 9.45 9.46 9.47 9.48 9.5  9.53 9.54 9.56 9.6
 9.62 9.64 9.65 9.66 9.68 9.7  9.74 9.76 9.78 9.8  9.82 9.87 9.91 9.92]
Quantidade de valores únicos: 168
Valor único Mínimo: 6.8
Valor único Máximo: 9.92
Média dos valores únicos: 8.630892857142856

Coluna utilizada: Research - Research Experience , em inglês, avalia se o(a) candidato(a) possui ou não experiência de pesquisa (Não = 0 / Sim = 1)

In [54]:
unique_Res = np.unique(data['Research'])
print(f'Valores únicos: ' + str(unique_Res))
print(f'Quantidade de valores únicos: ' + str(np.count_nonzero(unique_Res)))
print(f'Valor único Mínimo: ' + str(min(unique_Res)))
print(f'Valor único Máximo: ' + str(max(unique_Res)))
print(f'Média dos valores únicos: ' + str(unique_Res.mean()))

Valores únicos: [0 1]
Quantidade de valores únicos: 1
Valor único Mínimo: 0
Valor único Máximo: 1
Média dos valores únicos: 0.5

Coluna utilizada: Chance of Admit - Chance de Admissão, que varia de 0.34 a 0.97 nesse dataset

Nota: a coluna 'Chance of Admit ' está no CSV com o espaço após as letras, assim como o 'LOR ' anteriormente

In [57]:
unique_CA = np.unique(data['Chance of Admit '])
print(f'Valores únicos: ' + str(unique_CA))
print(f'Quantidade de valores únicos: ' + str(np.count_nonzero(unique_CA)))
print(f'Valor único Mínimo: ' + str(min(unique_CA)))
print(f'Valor único Máximo: ' + str(max(unique_CA)))
print(f'Média dos valores únicos: ' + str(unique_CA.mean()))

Valores únicos: [0.34 0.36 0.38 0.39 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5  0.51
 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6  0.61 0.62 0.63 0.64 0.65
 0.66 0.67 0.68 0.69 0.7  0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79
 0.8  0.81 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9  0.91 0.92 0.93
 0.94 0.95 0.96 0.97]
Quantidade de valores únicos: 60
Valor único Mínimo: 0.34
Valor único Máximo: 0.97
Média dos valores únicos: 0.6731666666666667